* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    min-height: 100vh; 
}


.container{
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 
    background-color: lightgray;
}

.wrapper {
    padding: 50px 0; 
}

#highScore {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

#start-button {
    padding: 10px 20px; 
    background-color: purple; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none; 
    display: inline-block; 
    margin-top: 20px; 
}

#start-button:hover {
    background-color: #5c0099; 
}

button {
    padding: 15px 25px; 
    font-size: 20px; 
    margin: 10px 0; 
}


h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 20px;
}
