* {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;

}

#highScore {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

#timer {
    text-align: end;
}
.wrapper {
    align-items: center;
    padding-top: 15%;
    padding-left: 30%;
}
/* .container{
    width: 300px;

    
} */
#start {
    font-size: xx-large;
    font-weight: bold;
}

.container{
    width: 100;
    height: 100;
    display: flexbox;
    align-items: center;
    margin: 0 auto;
}

.p{
    align-items: center;
}



.btn{
    color: purple;
    padding: 10px;
    width: 100px ;
    background-color: silver;
    align-items: right;
}

btn:hover{
    color: yellow;
}


.start-screen{
    align-items: center;
}